ul { 
  list-style-type: none;
  margin:5;
  padding: 10;
  overflow: hidden;
  background-color: rgb(255, 206, 206);
}

li {
  float:left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16xp;
text-decoration:none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color:#111;
}
